<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <h1>From</h1> -->
    <fieldset>
        <legend>Form Post</legend>
        <form action="/new" method="POST">
            <input type="text" placeholder="Enter Title ....." name="title"> <br> <br>
            <input type="text" placeholder="Eenter Category....." name="category"> <br> <br>
            <input type="text" placeholder="Enter Description......" name="description"> <br> <br>
            <button>Submit</button>
        </form>
    </fieldset>
</body>
</html>