<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <fieldset>
        <legend>Login Form</legend>
        <form action="/login" method="POST">
            <input type="text" placeholder="Enter First Name.............." name="firstName">
            <br> <br>
            <input type="text" placeholder="Enter Last Name..............." name="lastName">
            <br> <br>
            <input type="email" placeholder="Enter Email.............." name="email">
            <br>  <br> 
            <input type="password" placeholder="Enter Password.............." name="passWord">
            <br> <br>
            <button type="submit">Login</button>
        </form>

    </fieldset>
</body>
</html>